
<div class="list list-tasks" data-ng-controller="yodacore.listTasksCtrl as vm">

  <div class="item item-input-inset" data-ng-controller="yodacore.createTaskCtrl as vm">
    <label class="item-input-wrapper">
      <input type="text" placeholder="{{vm.placeholderText}}" data-ng-model="vm.newTitle">
    </label>
    <button class="button button-small" data-ng-click="vm.createNewTask()">
      Submit
    </button>
  </div>

  <ion-list >
    <ion-item class="item-text-wrap list-task-item item-remove-animate" data-ng-repeat="modelForTaskItem in vm.tasks"  type="item-text-wrap" data-ng-controller="yodacore.itemTaskCtrl as vm">
        <p class="task-content-holder">
          <span data-ng-class="{done: vm.task.is_done, 'not-done': !vm.task.is_done}" class="check-box-btn" data-ng-click="vm.markTaskAsDone()"></span>
          <span ui-sref="main.detailTask({ id: task._id})" ng-bind-html="vm.task.title" class="task-title"></span>
          <span  class="task-extra-info">{{vm.task.start_time | date: 'shortTime'}}</span>
        </p>
        
      <ion-option-button class="button-assertive" ng-click="vm.removeTask()">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-list>


</div>

