
<div class="list list-tasks" data-ng-controller="yodacore.listTasksCtrl as vm">

  <div class="item item-input-inset" data-ng-controller="yodacore.createTaskCtrl as vm">
    <label class="item-input-wrapper">
      <input type="text" placeholder="{{vm.placeholderText}}" data-ng-model="vm.newTitle">
    </label>
    <button class="button button-small" data-ng-click="vm.createNewTask()">
      Submit
    </button>
  </div>

  <ion-list >
    <ion-item class="item-text-wrap list-task-item item-remove-animate" data-ng-repeat="modelForTaskItem in vm.tasks"  type="item-text-wrap" data-ng-controller="yodacore.itemTaskCtrl as vm">
        <div class="task-content-holder row">
          <div data-ng-class="{done: vm.task.is_done, 'not-done': !vm.task.is_done}" class="check-box-btn col-10" data-ng-click="vm.markTaskAsDone()"></div>
          <div ui-sref="main.detailTask({ id: vm.task._id})" ng-bind-html="vm.task.title" class="task-title col-75"></div>
          <div  class="task-extra-info col-20">{{vm.task.start_time | date: 'shortTime'}}</div>
        </div>
        
      <ion-option-button class="button-assertive" ng-click="vm.removeTask()">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-list>


</div>

