.entry-detail{
  .entry-content {
    min-height: 60px;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
  }

  .task-title {
    min-height: 30px;
    line-height: 30px;
    border: solid 1px #ccc;
    padding: 3px 3px 3px 10px;
    margin: 5px;
    margin-top: 15px;
    box-shadow: 1px 1px 1px #ccc;

    .remove-task-btn{
      float: right;
      font-size: 15pt;
      padding: 0px 5px 0px 10px;
      border-left: solid 1px #ccc;
    }
  }
}
