.list-lists{
  .list-item{
    margin: 5px;
    box-shadow: 1px 1px 1px #CCC;
    border: solid 1px #CCC;
  }
}

.list-detail{
  .list-title {
    margin: -5px;
    padding: 10px 5px 10px 20px;
    border-bottom: solid 1px; 
    box-shadow: 0px 1px 3px ;
    line-height: 40px;
  }

  .list-note {
    margin: 20px 5px 5px 10px;
    border: solid 1px #EEE;
    height: 60px;
    padding: 5px;
  }
}
