.task-diary-list {
  .middle {
    display: inline-block;
    vertical-align: middle;
  }

  .time-holder {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 10pt;
    font-weight: normal;
  }
}
