
<div class="list" data-ng-controller="yodacore.listEntriesCtrl as vm">

  <div  data-ng-controller="yodacore.createEntryCtrl as vm" class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="What is on your mind?" data-ng-model="vm.newContent">
    </label>
    <button class="button button-small" data-ng-click="vm.createNewEntry()">
      Submit
    </button>
  </div>

  <ion-list ng-repeat="group in vm.groups" >
    <div class="item item-divider">
      {{group.time | yodaDateString}}
    </div>
    <ion-item class="item-text-wrap list-item-note item-remove-animate" data-ng-repeat="item in group.items"  type="item-text-wrap">
      <p ui-sref="main.entryDetail({ id: item._id, data: item })" ng-bind-html="item.content"></p>
      <ion-option-button class="button-assertive" ng-click="vm.removeNote(item)">
        Delete
      </ion-option-button>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll -->
  <!--   icon="ion-loading-c" -->
  <!--   data-ng-if="vm.haveMoreDataToLoad" -->
  <!--   on-infinite="vm.loadMore()" -->
  <!--   distance="1%"> -->
  <!-- </ion-infinite-scroll> -->

</div>
