<ion-view view-title="Diary & Task">
  <ion-content >
    <div class="list card task-diary-list">
      <div class="list card" ng-repeat="task in vm.tasks">
        <div class="item item-divider" style="background-color:{{task.color}}">
          <label class="checkbox middle">
           <input type="checkbox">
          </label>
          <h2 class="middle">{{task.title}}</h2>
          <div class="time-holder">{{task.start_time | startAndEnd: task.duration}}</div>

        </div>
        <div class="item item-body" ng-repeat="record in vm.records | filter:{task_id:task._id}">
          <p>{{record.title}}</p>
        </div>

        <div class="item item-body" >
          <label class="item item-input">
            <i class="icon ion-edit placeholder-icon"></i>
            <input type="text" placeholder="Write a note ...">
          </label>
        </div> <!-- end of input -->

      </div>
    </div>
  </ion-content>
</ion-view>
